* {
	margin: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	overflow-wrap: break-word;
	vertical-align: top;
}

/* html.loading * {
	cursor: progress !important;
}*/

html {
	background-color: red;
	font-family: sans-serif;
}

/* all elements with user content, where whitespace should be preserved */
.pre {
	white-space: pre-wrap;
}

a:visited {
	color: #00A;
}

.time {
	color: #333;
	font-size: 0.9em;
	vertical-align: baseline;
}

.avatar {
	border: 1px solid white;
}

a {
	text-decoration: none;
}

a:hover {
	color: #06F;
}

textarea {
	border-radius: 2px;
	border: 2px solid #00C8B4;
	box-shadow: 0.1rem 0.2rem 0.3rem -0.2rem rgba(13,13,13,0.5);
	max-width: 100%;
	font-size: 1em; /* prevent zoom in on iphone */
}

.scroller {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	min-height: 300px;
	height: 300px;
}

.spacer {
	flex-grow: 1;
}

.rightAlign {
	float: right;
}

/* These 3 classes handle like 90% of the layout lol */
.bar { /* contains textitems and items */
	display: block;
	overflow: hidden;
	box-sizing: content-box;
	-webkit-box-sizing: content-box;
	/* set min-height */
}
.textItem { /* basically anything within a .bar */
	max-width: 100%;
	display: inline;
	/* set min-height, line-height */
}
.item { /* for images and other blocks that can't wrap */
	display: inline-block;
	max-width: 100%;
	/* set height */
}

/****************************
 ** Main Container Element **
 ****************************/
body {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
}

body > *:not(:first-child), .editorPreview, .pagePane > *:not(:first-child):not(.spacer), .categoryPages {
	border-top: 1px solid gray;
}

/* most elements will be fixed-height, and should never shrink */
body > * {
	flex-shrink: 0;
}

/* each view has one pane which takes up the remaining screen height */
.paneGrow {
	flex-grow: 1;
	flex-shrink: 1;
	min-height: 100px;
	/*padding: 0.5rem;*/
	/*overflow-y: scroll;*/
}

/* visibility control */
body:not(.pageMode) .pageMode,
body:not(.chatMode) .chatMode,
body:not(.editorMode) .editorMode,
body:not(.categoryMode) .categoryMode,
body:not(.navMode) .navMode,
body:not(.userMode) .userMode,
body:not(.membersMode) .membersMode,
body:not(.registerMode) .registerMode,
body:not(.settingsMode) .settingsMode,
body:not(.activityMode) .activityMode,
body:not(.userMode):not(.pageMode) .pageUserMode,
body:not(.chatMode):not(.pageMode) .pageChatMode,
body:not(.homeMode) .homeMode {
	display: none;
}



/*************
 ** Top Bar **
 *************/
.headerPane {
	min-height: 1.5rem;
	background-color: #333;
}

html.f-loading .headerPane {
	background-color: #008;
}

html.f-error .headerPane {
	background-color: #800;
}

html:not(.f-loggedIn) .loggedIn,
html.f-loggedIn .loggedOut {
	display: none;
}

.headerRight {
	float: right;
}

.headerPane .item {
	height: 1.5rem;
}

.headerPane .textItem{
	min-height: 1.5rem;
	line-height: 1.5rem;
}

.myAvatar {
	width: 1.5rem;
}

.myName {
	color: white;
	margin: 0 0.5rem;
}

.path {
	font-weight: bold;
	color: white;
}

.headerPane a {
	color: #BCF;
}

.headerPane a:hover {
	color: #9AF;
}

.pathSeparator {
	padding: 0 0.2rem;
}

/****************
 ** Title Pane **
 ****************/
.titlePane {
	min-height: 2.3rem;
	background-color: #DDD;
	padding: 0 0.5rem;
}

.titlePane .userLink img {
	margin: 0 0.7ch;
}

.titlePane .item {
	height: 2.3rem;
}
/* .item's are things like the site logo, user avatar, etc.*/
/* .textItem is similar, but is allowd to wrap */
.titlePane .textItem {
	min-height: 2.3rem;
	line-height: 2.3rem;
}

.editingLabel {
	padding-left: 0.3rem;
	font-weight: bold;
}
.pageTitle {
	font-weight: bold;
	padding-right: 0.5rem;
	font-size: 1.6rem;
}

.errorMode .titlePane {
	background-color: pink;
	color: maroon;
	font-family: monospace;
}

/* Box showing the page author/editor */
.pageCreate {
	float: right;
}
.pageCreate {
	background-color: rgba(255,255,255,0.1);
}
.pageAuthorAvatar {
	width: 2.3rem;
}
.pageAuthorDate {
	padding-left: 0.5rem;
}
.pageAuthorName {
	padding: 0 0.5rem;
}
.pageEdited {
	border-left: 1px solid gray;
}

/*******************
 ** Category Pane **
 *******************/
.categoryPage {
	font-weight: bold;
	background-color: #EEE;
	min-height: 2.3rem;
}
.categoryPage, .categoryDescription, .member {
	border-bottom: 1px solid gray;
}
.categoryPageTitle {
	padding: 0 0.5rem;
}
.categoryPage .textItem {
	min-height: 2.3rem;
	line-height: 2.3rem;
}
.categoryPage .item {
	height: 2.3rem;
	line-height: 2.3rem;
}

/***************
 ** Page Pane **
 ***************/
.pageContents, .editorPreview {
	/*padding: 0.5rem;*/
}

/*******************
 ** Chat Userlist **
 *******************/
.userlist {
	background-color: #EEE;
	min-height: 2.3rem;
}
.userlist > * {
	height: 2.3rem;
}

/***********************
 ** Chat Message Pane **
 ***********************/
/* ... */
.messageList {
	padding-bottom: 0.7rem;
}

/** Chat Messages **/
.message {
	font-size: 0.9rem;
	padding: 0.4rem 0.5rem;
	white-space: pre-wrap;
	border-left-width: 0.5em;
	border-left-style: solid;
	border-left-color: rgb(255,153,153);
	clear: both;
	overflow: auto;
}
.systemMessage {
	background-color: rgba(187,187,187, 0.2);
	font-weight: bold;
	color: #666;
	border-left: 0.5em solid rgb(187,187,187);
}
.ownMessage {
	background-color: rgba(255,153,153, 0.2);
}
.messageTime {
	float: right;
	font-weight: normal;
	padding-right: .5em;
	color: #666;
}
.message .avatar {
	display: inline-block;
	width: 3.5rem;
	height: 3.5rem;
	border: 1px solid #777;
	margin-right: 0.5rem;
	float: left;
}
.messageUsername {
	display: inline-block;
}
.messageContents {
	display: block;
	vertical-align: top;
	overflow: auto;
}
.messagePart {
	margin: .2rem;
}
.messagePart img {
	max-width: 100%;
	max-height: 10vh;
	border: 1px solid silver;
}
/****************
 ** Chat Input **
 ****************/
.inputPane {
	height: 3.25rem;
	display: flex;
	flex-direction: row;
}
.inputPane > * {
	height: 100%;
}
.inputPane > textarea {
	flex-grow: 1;
	resize: none;
	min-width: 0;
}

.inputPane > button {
	width: 3.25rem;
}

/**********************
 ** Editor Info Pane **
 **********************/

/*****************
 ** Editor Pane **
 *****************/
.editorPane {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.editorPreview {
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: scroll;
	flex-basis: 0;
	min-height: 10rem;
}

.editorTextarea > textarea {
	resize: vertical;
	width: 100%;
	height: 40vh;
	box-sizing: border-box;
}

/***************
 ** User Page **
 ***************/

.member {
	display: block;
	background-color: #EEE;
}

.member .item {
	height: 2.3rem;
}
.member .textItem {
	min-height: 2.3rem;
	line-height: 2.3rem;
}
.memberName {
	padding: 0 0.5rem;
}

.bottomSpacer {
	flex-shrink: 0;
	height: 1.5rem;
}

.listItem {
	background-color: #EEE;
	min-height: 1.5rem;
	border-top: 1px solid gray;
	padding: 0 0.2rem;
}

.listItem a {
	font-weight: bold;
}

.listItem .textItem {
	max-height: 2rem;
	line-height: 2rem;
}

.listItem .item {
	height: 2rem;
}

.userPageBox {
	display: flex;
	flex-direction: row;
}

.userPageBox .userPageAvatar {
	width: 10rem;
	height: 10rem;
	flex-shrink: 1;
}

.userPageBox .pageContents {
	width: 10rem;
}

.categoryNav .textItem {
	min-height: 1.5rem;
	line-height: 1.5rem;
	
}
.categoryNav {
	flex-shrink: 0;
}

.categoryNav .item {
	height: 1.5rem;
}

.loginField {
	width: 5rem;
}

button {
	line-height: normal !important;
}

img.item {
	vertical-align: top;
}

.userPageContents {
	flex-grow: 1;
}

.voteButton[data-selected] {
	background-color: lime;
}

/* hecko yo */
.pageContents {
	max-width:100%;
	overflow-x:auto;
	flex-shrink: 0;
}

.listItem span {
	color: black;
}

.listItem .avatar {
	margin-right: 0.3ch;
}


.username {
	font-weight: bold;
}

.member .avatar {
	margin-right: 0.7ch;
}

.iframe {
	border: 1px solid red;
}

.bottomSpacer {
	border-top: 1px solid gray;
}
